footer {
  width: 100%;
  position: relative;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

footer p {
  font-size: var(--fs-small);
  color: var(--ntrl-clr-100);
}
